numpy
pandas
matplotlib
seaborn
scipy
statsmodels
scikit-learn
category_encoders
imbalanced-learn
xgboost
lightgbm
catboost
jupyter
ipykernel
flask
pymongo==4.6.0
python-dotenv==1.0.0
email-validator==2.1.0
Flask-Login==0.6.3
secure==0.3.0