numpy
pandas
scikit-learn
xgboost
joblib
flask
flask-sqlalchemy
flask-login==0.6.3
flask-wtf==1.2.1
python-dotenv==1.0.0
email-validator==2.1.0
secure==0.3.0
cryptography
werkzeug>=2.0.0
ratelimit==2.2.1
pymysql